@mixin littlescreen {
    // MEDIA QUERIES 1200px
    @media screen and (max-width: 1200px) {
        // NAVBAR
        #navbar{
            .navbar{
                .name{
                    h2{
                        font-size: 24px;
                    }
                }
                &__list{
                    &--items{
                        ul{
                            li{
                                padding: 0 8px !important;
                            }
                        }
                    }
                }
            }
        }
        // PRESENTATION SECTION
        #parcours {
            margin-top: 150px;
            .parcours {
                flex-direction: column;
                width: 100%;
                padding: 0 10px;
                &__left {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__right {
                    width: 100%;
                }
            }
        }
        // HYPNOSE SECTION
        #hypnose {
            .hypnose {
                &__top {
                    min-height: 500px;
                }
            }
        }

        // CONSULTATION SECTION
        #consultation {
            .consultation {
                &__cards {
                    // GESTION DES BORDERS
                    & :nth-child(2),
                    & :nth-child(4) {
                        border: none;
                    }
                    & :nth-child(3) {
                        border-right: 3px solid $border;
                    }
                    // FIN
                }
            }
        }
    }

    @media screen and (max-width: 1300px) {
        // SEANCE SECTION
        #seance {
            .seance {
                &__cards {
                    &--item {
                        max-width: 1000px;
                        width: 100%;
                        border: none;
                        .text {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

