$primary : #7B0086;
$violet-1 : #AB45B3;
$violet-2 : #CCB0CE;
$violet-3 : #ECE1ED;
$violet1 : #500357;
$violet2 : #490056;
$grey-card: #D6D2D6;
$border: #ced4da9f;
$tarif-bg : #DCCCDD;
$light-grey : #F1F1F1;
$light-grey-nav : #f1f1f167;
$dark-grey : #4C334E;
$navcolor: #B066B6;
