#consultation{
    .consultation{
        &__cards{
            margin-bottom: 50px;
            &--item{
                .text{
                    padding: 20px;
                    .title{
                        margin-bottom: 15px;
                        font-size: 1rem;
                    }
                    p{
                        font-weight: 400;
                        text-align: left;
                        margin: 5px 0;
                        font-size: 0.9rem;
                        border: none;
                    }
                }
            }
            // CARTE GRISE
            & :nth-child(even){
                .text{
                    p{
                        font-weight: 500;
                    }
                }
            }
            // FIN

            // RESIZE DES CARDS
            & :nth-child(6){
                .text{
                    min-height: 240px;
                }
            }
            // FIN
        }
    }
}

@media screen and (max-width: 1200px){
    #consultation{
        .consultation{
            &__cards{
                & :nth-child(3){
                    .text{
                        min-height: 239px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
    #consultation{
        .consultation{
            &__cards{
                & :nth-child(1){
                    .text{
                        min-height: 244px;
                    }
                }
                & :nth-child(4){
                    .text{
                        min-height: 245px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    #consultation{
        .consultation{
            &__cards{
                &--item{
                    min-height: none;
                }
            }
        }
    }
}