@import "variables";
@import "polices";
@import "mixins";
@import "portable";
@import "tablette";
@import "1200px";
@import "animation";
@import "hypnose-thérapeutique";

// GENERAL SECTION
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-family: "Montserrat";
    font-size: 16px;
}
h1,
h2,
h3 {
    font-family: "Pacifico";
}
h2 {
    font-size: 3rem;
    color: $violet1;
}
a {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    font-family: "Montserrat";
}
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.morebutton {
    @include button(white, $violet-1, 15px, 36px, none, 20px);
    margin-top: 30px;
}
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}

// NAVBAR

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    width: 100%;
    .navbar {
        width: 100%;
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        background-color: $navcolor;
        position: relative;
        .name {
            width: auto;
            h2 {
                color: $light-grey;
                font-size: 20px !important;
                text-align: left;
                margin-right: 20px;
                width: auto;
            }
        }
        &__list {
            position: absolute;
            top: 75px;
            right: -300px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            background-color: $navcolor;
            max-width: 300px;
            width: 100%;
            height: 90vh;
            transition: all 0.5s ease-in-out;
            &--brand {
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $light-grey;
                height: 110px;
                border-bottom: 2px $light-grey-nav solid;
                h3 {
                    font-size: 1.2rem;
                    font-family: "pacifico";
                    line-height: 1.1em;
                }
                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 100%;
                    margin-right: 15px;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }
            }
            &--items {
                height: 100%;
                padding: 20px 0;
                ul {
                    height: 100%;
                    max-height: 350px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    li {
                        width: 50%;
                        border-bottom: 2px solid $light-grey-nav;
                        text-align: right;
                        a {
                            display: inline-block;
                            color: $light-grey;
                            font-size: 18px;
                            font-weight: 700;
                            padding: 10px;
                            transform: scale(1);
                            transition: 0.3s transform ease-in-out;
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
        .hamburger {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50px;
            height: 50px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            border: 3px solid $light-grey;
            border-radius: 10px;
            &__btn {
                @include hamburger-btn;
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    @include hamburger-btn;
                }
                &::after {
                    transform: translateY(10px);
                }
                &::before {
                    transform: translateY(-10px);
                }
            }
            &.open {
                // ANIMATION
                .hamburger__btn {
                    transform: translateX(-50px);
                    background: transparent;
                    box-shadow: none;
                    &::after {
                        transform: rotate(-45deg) translate(35px, 35px);
                    }
                    &::before {
                        transform: rotate(45deg) translate(35px, -35px);
                    }
                }
                // FIN ANIMATION
            }
        }
        &.open {
            .navbar__list {
                right: 0px;
            }
        }
    }
}

// HERO SECTION

#hero {
    .hero {
        width: 100%;
        height: 100%;
        &__top {
            background: url("../img/cerisier-hero.jpg") left;
            background-size: cover;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
            z-index: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 150px 0;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: black;
                opacity: 0.2;
                z-index: -1;
            }
            &--titles {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2,
                h1 {
                    font-size: 3rem;
                    color: $violet2;
                    text-shadow: rgb(241, 241, 241) 2px 0px 0px, rgb(241, 241, 241) 1.75517px 0.958851px 0px,
                        rgb(241, 241, 241) 1.0806px 1.68294px 0px, rgb(241, 241, 241) 0.141474px 1.99499px 0px,
                        rgb(241, 241, 241) -0.832294px 1.81859px 0px, rgb(241, 241, 241) -1.60229px 1.19694px 0px,
                        rgb(241, 241, 241) -1.97998px 0.28224px 0px, rgb(241, 241, 241) -1.87291px -0.701566px 0px,
                        rgb(241, 241, 241) -1.30729px -1.5136px 0px, rgb(241, 241, 241) -0.421592px -1.95506px 0px,
                        rgb(241, 241, 241) 0.567324px -1.91785px 0px, rgb(241, 241, 241) 1.41734px -1.41108px 0px,
                        rgb(241, 241, 241) 1.92034px -0.558831px 0px;
                }
                h1 {
                    font-size: 4rem;
                    margin: 30px 0;
                }
            }
            .border {
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                z-index: 1;
            }
        }
        &__bottom {
            min-height: 25vh;
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 30px;
            &--text {
                max-width: 1000px;
                position: relative;
                p {
                    font-family: "Mr Dafoe";
                }
                .citation {
                    font-size: 3rem;
                }
                .auteur {
                    position: absolute;
                    right: 0px;
                    bottom: -30px;
                    font-size: 2.5rem;
                }
            }
        }
    }
}

// PRESENTATION SECTION
#parcours {
    margin-top: 100px;
    min-height: 70vh;
    .parcours {
        flex-direction: row;
        max-width: 1400px;
        min-height: 600px;
        padding: 0 50px;
        &__left {
            width: 40%;
            .image {
                @include bubble-parcours;
            }
        }
        &__right {
            min-height: 400px;
            width: 60%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 100px;
            h2 {
                font-size: 3rem;
            }
            h3 {
                font-family: "Montserrat";
                font-size: 2.25rem;
                font-weight: 600;
            }
            .contact,
            .contact__tel,
            .contact__mail {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .contact {
                width: 100%;
                &__tel,
                &__mail {
                    margin: 0 20px;
                    padding: 5px 20px;
                    border: 2px solid $primary;
                    border-radius: 25px;
                    width: 300px;
                    img {
                        margin-right: 10px;
                    }
                    p {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// HYPNOSE SECTION
#hypnose {
    margin-top: 30px;
    .hypnose {
        width: 100%;
        h2 {
            margin-bottom: 20px;
        }
        &__top {
            min-height: 650px;
            width: 100%;
            background-color: $violet-3;
            display: flex;
            justify-content: center;
            .citation {
                max-width: 1500px;
                display: flex;
                justify-content: center;
                align-items: center;
                &__image,
                &__text {
                    margin: 0 20px;
                }
                &__image {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    img {
                        width: 100%;
                        height: 90%;
                        border: 25px solid white;
                        border-bottom: none;
                    }
                }
                &__text {
                    width: 100%;
                    background-color: $light-grey;
                    padding: 50px 20px;
                    position: relative;
                    p {
                        font-size: 1.4rem;
                    }
                    .auteur {
                        position: absolute;
                        bottom: 20px;
                        right: 30px;
                        opacity: 0.6;
                    }
                }
            }
        }
        &__middle {
            max-width: 1265px;
            padding: 30px;
            background-color: #ece1ed;
            font-size: 1.2rem;
            font-weight: 400;
            margin: 30px 0;
            p {
                margin: 12px 0;
            }
        }
        &__bottom {
            display: flex;
            max-width: 1400px;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            .text,
            .image {
                width: 50%;
            }
            .text {
                color: $light-grey;
                background-color: $violet1;
                padding: 20px;
                border-radius: 30px;
                max-width: 600px;
                p {
                    margin: 20px 0;
                    text-align: justify;
                }
            }
            .image {
                display: flex;
                justify-content: flex-end;
                img {
                    width: 90%;
                    height: 100%;
                }
            }
        }
    }
}

// CONSULTATION SECTION

#consultation {
    margin-top: 100px !important;
    .consultation {
        .description {
            margin-top: 30px;
            max-width: 700px;
            text-align: center;
            padding: 0 20px;
        }
        &__cards {
            max-width: 1500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 50px;

            // BASE DES CARDS
            &--item {
                min-height: 256px;
                max-width: 400px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 40px;
                margin: 10px 0;
                border-right: 3px solid $border;
                img {
                    margin: 20px 0;
                }
                .text {
                    max-width: 400px;
                    width: 100%;
                    padding: 20px;
                    border-radius: 20px;
                    .title {
                        text-align: center;
                    }
                }
            }
            // FIN

            // ADAPTATION DES CARDS 5, 6 et 7
            .resize {
                .text {
                    padding: 30px 20px;
                }
            }
            .last-item {
                max-width: 840px;
                .text {
                    max-width: 760px;
                }
            }
            // FIN

            // ALTERNANCE DES CARDS 1 sur 2
            & :nth-child(odd) {
                .text {
                    background-color: $violet1;
                    color: $light-grey;
                    .title {
                        font-weight: 500;
                    }
                }
            }
            & :nth-child(even) {
                .text {
                    background-color: $grey-card;
                    .title {
                        font-weight: 600;
                    }
                }
            }
            // FIN

            // GESTION DES BORDERS
            & :nth-child(3),
            & :nth-child(6),
            & :nth-child(7) {
                border: none;
            }
            // FIN
        }
    }
}

// SEANCE SECTION
#seance {
    margin-top: 100px;
    .seance {
        h2 {
            text-align: center;
        }
        &__cards {
            max-width: 1500px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            &--item {
                max-width: 650px;
                width: 100%;
                margin: 20px 0;
                padding: 0 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 3px solid $border;
                img {
                    margin-bottom: 20px;
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 25px;
                    border-radius: 20px;
                    h3 {
                        font-size: 1.5rem;
                        text-align: center;
                        line-height: 30px;
                        margin-bottom: 10px;
                    }
                    p {
                        margin: 5px 0;
                        align-self: flex-start;
                    }
                }
            }
            // ALTERNANCE CARDS 1 SUR 2
            & :nth-child(odd) {
                .text {
                    background-color: $violet1;
                    p,
                    h3 {
                        color: $light-grey;
                        font-weight: 500;
                    }
                }
            }
            & :nth-child(even) {
                .text {
                    background-color: $grey-card;
                    p,
                    h3 {
                        font-weight: 500;
                    }
                }
            }
            // FIN

            // MODIFICATION TAILLE ELEMENT 1 et 3
            & :nth-child(3) {
                .text {
                    min-height: 169px;
                }
            }
            & :nth-child(1) {
                .text {
                    min-height: 197px;
                }
            }
            // FIN

            // AJOUT DES BORDERS
            & :nth-child(2),
            & :nth-child(4) {
                border: none;
            }
            // FIN
        }
    }
}

// TARIFS SECTION
#tarifs {
    background-color: $tarif-bg;
    margin-top: 100px;
    min-height: 60vh;
    padding: 50px 0 100px 0;
    .tarifs {
        width: 100%;
        &__cards {
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            &--item {
                max-width: 344px;
                width: 100%;
                height: 500px;
                margin: 20px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                overflow: hidden;
                .image {
                    padding: 20px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 214px;
                        height: 240px;
                    }
                    .child-img {
                        width: 226px;
                        height: 240px;
                        transform: scale(0.8);
                    }
                }
                .text {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $violet1;
                    border-top-right-radius: 25px;
                    border-top-left-radius: 25px;
                    color: $light-grey;
                    padding: 5px;
                    .title {
                        position: relative;
                        h3 {
                            font-size: 2.2rem;
                            margin-bottom: 30px;
                            text-align: center;
                        }
                        .longtitle {
                            margin-bottom: 10px;
                            line-height: 120%;
                        }
                        .info {
                            font-size: 0.8rem;
                            position: absolute;
                            left: 50%;
                            bottom: 20px;
                            transform: translateX(-50%);
                            font-weight: 500;
                            width: -webkit-max-content;
                            width: -moz-max-content;
                            width: max-content;
                        }
                    }
                    .price {
                        p {
                            font-size: 1.5rem;
                            font-weight: 500;
                            margin: 5px 0;
                            text-align: center;
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

// CONTACT SECTION
#contact {
    background-color: $violet-3;
    min-height: 0px;
    padding: 150px 0;
    .contact {
        width: 100%;
        h2 {
            margin-bottom: 50px;
        }
        &__cards {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 840px;
            width: 100%;
            &--item {
                height: 220px;
                width: 100%;
                max-width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-bottom: 3px solid $violet1;
                box-shadow: 0px 16px 40px #c49acf50;
                margin: 10px;
                img {
                    margin-bottom: 20px;
                }
                p {
                    font-weight: 600;
                    color: $violet2;
                }
            }
        }
        &__map {
            max-width: 840px;
            width: 100%;
            padding: 10px;
            .frame{
                box-shadow: 0px 16px 40px #c49acf50;
            }
        }
    }
}

// FOOTER
#footer {
    min-height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        p,
        a {
            font-size: 1rem;
            color: $light-grey;
            padding: 5px 10px;
            font-weight: 500;
            border-right: 2px solid $light-grey-nav;
        }
        & :nth-child(3) {
            border: none;
        }
    }
}

@include littlescreen;
@include tablette;
@include portable;
