@mixin portable {
    // MEDIA QUERIES PORTABLE
    @media screen and (max-width: 768px) {
        h2 {
            font-size: 1.7rem;
            text-align: center;
        }

        //HERO SECTION
        #hero {
            .hero {
                &__top {
                    h1 {
                        font-size: 3rem;
                        text-align: center;
                        margin: 30px 0;
                    }
                    h2 {
                        font-size: 2rem;
                    }
                }
                &__bottom {
                    &--text {
                        .citation {
                            font-size: 1.5rem;
                        }
                        .auteur {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        // PRESENTATION SECTION
        #parcours {
            margin-top: 50px;
            .parcours {
                &__left {
                    .image {
                        border: 25px white solid;
                        height: 250px;
                        width: 250px;
                        &::after {
                            border: 22px $primary solid;
                        }
                    }
                }
                &__right {
                    margin-top: 50px;
                    h2 {
                        font-size: 2rem;
                    }
                    h3 {
                        font-size: 1.25rem;
                    }
                    .contact {
                        flex-direction: column;
                        &__item {
                            margin: 10px 10px;
                            max-width: 310px;
                            width: 100%;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
        // HYPNOSE SECTION
        #hypnose {
            .hypnose {
                &__top {
                    .citation {
                        &__text {
                            p {
                                font-size: 1.2rem;
                            }
                            .auteur {
                                position: absolute;
                                bottom: 20px;
                                right: 30px;
                                opacity: 0.6;
                            }
                        }
                    }
                }
                &__bottom {
                    padding: 0 10px;
                }
                &__faq {
                    .question {
                        h3 {
                            font-size: 1.2rem;
                        }
                    }
                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        // CONSULTATION SECTION
        #consultation {
            .consultation {
                &__cards {
                    &--item {
                        border: none !important;
                        padding: 0 15px;
                    }
                }
            }
        }

        // SEANCE SECTION
        #seance {
            .seance {
                &__cards {
                    &--item {
                        padding: 0 10px;
                    }
                }
            }
        }
        // CONTACT SECTION
        #contact {
            padding: 50px 0;
            h2 {
                margin-top: 40px;
            }
        }

        // TARIF SECTION
        #tarifs {
            padding-bottom: 50px;
            .tarifs {
                h2 {
                    font-size: 2rem;
                }
                &__cards {
                    justify-content: center;
                    margin-top: 20px;
                    &--item {
                        height: 500px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        #footer {
            footer {
                flex-direction: column;
                a,
                p {
                    padding: 10px 5px;
                    border-right: none;
                    border-bottom: 2px solid $light-grey-nav;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width: 454px) {
        #hero {
            .hero {
                &__top {
                    &--titles {
                        h1 {
                            margin: 0;
                        }
                        h2 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
    // END OF MEDIA QUERIES PORTABLE
}
