@mixin tablette {
    // MEDIA QUERIES TABLETTE
    @media screen and (max-width: 991px) {
        //HERO SECTION
        #hero {
            .hero {
                &__bottom {
                    &--text {
                        .citation {
                            font-size: 2rem;
                        }
                        .auteur {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
        // PARCOURS SECTION
        #parcours {
            margin-top: 50px;
        }
        // HYPNOSE SECTION
        #hypnose {
            margin-top: 50px;
            .hypnose {
                &__top {
                    .citation {
                        flex-direction: column;
                        &__image {
                            max-width: 651px;
                            max-height: 580px;
                            padding: 0 20px;
                            img {
                                border: 15px solid white;
                            }
                        }
                    }
                }
                &__middle {
                    padding: 30px;
                    margin: 0;
                    p {
                        margin: 12px 0;
                    }
                }
                &__bottom {
                    .text {
                        width: 100%;
                    }
                    .text {
                        max-width: 991px;
                        margin: 20px 0;
                        p {
                            margin: 20px 0;
                        }
                    }
                    .image {
                        display: none;
                    }
                }
            }
        }

        // CONSULTATION SECTION
        #consultation {
            margin-top: 50px;
            .consultation {
                &__cards {
                    &--item {
                        max-width: 384px;
                    }
                    & :nth-child(4) {
                        .text {
                            padding: 30px 20px;
                        }
                    }
                }
            }
        }

        // SEANCE SECTION
        #seance {
            margin-top: 50px;
            .seance {
                &__cards {
                    margin-top: 30px;
                }
            }
        }
    }

    // NAVBAR
    @media screen and (min-width : 1100px){
        #navbar{
            .navbar{
                .name{
                    h2{
                        font-size: 1.8rem !important;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 991px) {
        #navbar {
            height: auto;
            .navbar {
                height: 75px;
                .hamburger {
                    display: none;
                }
                &__list {
                    height: auto;
                    position: initial;
                    background-color: transparent;
                    max-width: none;
                    width: auto;
                    &--brand {
                        display: none;
                    }
                    &--items {
                        ul {
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            li {
                                border-bottom: none;
                                border-right: 2px solid $light-grey;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                width: auto;
                                padding: 0 10px;
                                a {
                                    padding: 0;
                                }
                                &:nth-child(7){
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-height : 510px) {
        #navbar{
            .navbar{
                &__list{
                    &--brand{
                        display: none;
                    }
                    &--items{
                        padding: 0px 0;
                        ul{
                            justify-content: flex-start;
                            li{
                                a{
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // END OF MEDIA QUERIES TABLETTE
}
